
.root {
     -fx-background-image: url("/static/entrance-backgroud/entrance_bg1.jpg");
     /*-fx-background-width: 500px;
     -fx-background-height: 600px;*/
     /*-fx-background-insets: 30;
     -fx-background-radius: 10;*/
     -fx-background-size: 500px;
}

/* Button */
.button {
     -fx-padding: 0.7em 0.57em;
     -fx-font-size: 14px;
}
.button-raised {
     -fx-padding: 0.7em 0.57em;
     -fx-font-size: 14px;
     -jfx-button-type: RAISED;
     -fx-background-color: rgb(77, 102, 204);
     /*-fx-pref-width: 60;*/
     -fx-text-fill: WHITE;
}





