
.root {
     -fx-background-image: url("/static/bg/login.jpg");
     /*-fx-background-width: 500px;
     -fx-background-height: 600px;*/
     /*-fx-background-insets: 30;
     -fx-background-radius: 10;*/
     -fx-background-size: 500px;
}

/*
#registerBtn {
    -fx-background-color: #cccccc;
    !*-fx-background-radius: 2px;"*!
}
*/
